$border-color: #E5E5E5;
$color-text: #000000A6;
$color-author: #092433;
$color-date: #E8E8E8;
$color-text-date: #595959;
$color-text-author: #fff;

.carts {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    grid-gap: 20px;

    &__toast {
        visibility: hidden;
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 300px;
        min-height: 100px;
        z-index: 1;
        left: 80%;
        bottom: 30px;
        border: 1px solid #595959;
        border-radius: 5px;
        background: linear-gradient(180deg, #EE692B 50%, #EEA72B 90%);

        &_header {
            font-size: large;
            padding: 5px 0 5px 0;
            min-width: 100%;
            text-align: center;
            border-bottom: 1px solid;
        }

        &_body {
            padding: 5px;
            text-align: center;
        }
    }

    &__toast_show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
        from {right: 0; opacity: 0;} 
        to {right: 40px; opacity: 1;}
      }
      
    @keyframes fadein {
        from {right: 0; opacity: 0;}
        to {right: 40px; opacity: 1;}
      }
      
    @-webkit-keyframes fadeout {
        from {right: 40px; opacity: 1;} 
        to {right: 0; opacity: 0;}
      }
      
    @keyframes fadeout {
        from {right: 40px; opacity: 1;}
        to {right: 0; opacity: 0;}
      }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 295px;
        height: 258px;

        padding: 16px 0 24px 0;

        border: 1px solid $border-color;

        &__header {
            max-height: 54px;
            width: 100%;

            border-bottom: 1px solid $border-color;

            &_item {
                max-height: 22px;
                min-width: 159px;
                margin-left: 26px;

                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
                
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                color: $color-text;
            }
        }

        &__body {
            min-height: 110px;
            margin-top: 24px;
            margin-left: 26px;
            margin-right: 24px;

            &_text {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                overflow-x: hidden;
                text-overflow: ellipsis;
                color: $color-text;
            }
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            padding: 0 24px 0 26px;
            margin-top: 16px;
            
            &_text {
                max-width: 110px;
                max-height: 20px;
                border-radius: 10px;
                padding: 0 16px 0 16px;

                font-size: 12px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: center;
            }

            &_color-author {
                background: $color-author;
                color: $color-text-author;
            }

            &_color-date {
                border: 1px solid $color-date;
                color: $color-text-date;
            }
        }
    }
}